{% extends 'f-base.html' %}
{% load static %}

{% block title %}
   Products 
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static '/css/f-watches.css' %}">
{% endblock css %}
    

{% block MainContent %}
    <div class="container text-center my-5">
        <h1>Watches</h1>
    </div>
    <div class="container">
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/h-watch.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p1.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p2.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p3.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p4.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p5.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p6.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p7.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p8.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p9.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p10.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem; display: inline-block;">
            <img src="{% static '/images/p11.png' %}" class="card-img-top" alt="..." style="height: 350px;">
            <div class="card-body text-center">
                <h5 class="card-title">apple watch</h5>
                <p class="card-text">RS.25000</p>
                <a href="#" class="btn btn-danger">Buy Now</a>
            </div>
        </div>
    </div>
{% endblock MainContent %}
    